.footer__container {
    padding: 6.0rem 0;
}

.footer-group {
    display: flex;
    align-items: center;
}

.footer-info {
    width: 40%;
    color: #fff;

    a {
        color: #fff;

        &:hover {
            color: $borderColor;
        }
    }
}

.footer-logo {
    width: 20%;
    text-align: center;

    
}

.footer-nav {
    width: 40%;
    font-size: 1.8rem;

    ul {
        display: flex;
        justify-content: flex-end;
    }

    li {
        padding: 0 1.4rem;
        border: 1px double $borderColor;
        border-width: 0 1px 0 0;
    }

    li:last-child {
        border: 0;
        padding-right: 0;
    }

    a {
        color: #fff;

        &:hover {
            color: $borderColor;
        }
    }
}

.footer-copyright {
    font-size: 1.2rem;
    padding: 2.0rem 0;
    color: #999;
}