.page__container {
    padding: 50px 0;
}

.page-intro {
    font-family: $headingFont;
    @mixin charlie;
    text-align: center;
    margin-bottom: 6.0rem;
    max-width: 80%;
    margin: 0 auto 6.0rem auto;
}

.cms {
    h1 {
        
    }

    h2 {
        @mixin bravo;
    }

    h3 {
        @mixin charlie;
    }

    h4 {
        @mixin delta;
        text-transform: uppercase;
        color: $mainColor;
        font-family: $bodyFont;
        font-weight: bold;
        
    }

    > ul, > ol {
        clear: both;
        padding: 0 0 0 20px;
        margin: 0 0 1.5rem;

        li {
            position: relative;
            

            &:before {
                position: absolute;
                height: 6px;
                width: 6px;
                top: 12px;
                left: -18px;
                background: $mainColor;
                border-radius: 100%;
                content: '';
            }
        }

    }
    
    > ol {
        counter-reset: li;
        li {
            &:before {
                height: auto;
                width: auto;
                border-radius: 0;
                content: counter(li);
                counter-increment: li;
                background: 0;
                top: 0;
                color: $mainColor;
                font-weight: bold;
                
            }
        }
    }

    blockquote {
        background: #fff;
        margin: 0 0 1.5rem;
        padding: 2.0rem 5.0rem;

        p {
            font-size: 3.2rem;
            line-height: 4.4rem;
            color: $mainColor;
            font-family: $headingFont;
            font-style: italic;
            border-top: 1px solid $borderColor;
            padding-top: 2.0rem;
            padding-bottom: 2.0rem;
            border-bottom: 1px solid $borderColor;
        }
    }

    p {
        font-size: 1.8rem;
    }

}


 