body  {
    background: #2C3136;
}

.wrapper {
    background: #F8F8F5;
}

.default-page {
    padding: 8.0rem 0;
}

.main {
    @mixin container;
    position: relative;
}

@define-mixin wide {
    max-width: 140.0rem;
    margin: 0 auto;
}

.wide {
    @mixin wide;
}

.columns {

    @media (min-width: $phoneSize) {
        display: flex;    
    }
    
}

@define-mixin alpha {
    font-size: 5.4rem;
    line-height: 6.4rem;
}

@define-mixin bravo {
    font-size: 4.0rem;
    line-height: 5.8rem;
}

@define-mixin charlie {
    font-size: 3.6rem;
    line-height: 4.4rem;
}

@define-mixin delta {
    font-size: 1.8rem;
    line-height: 2.6rem;
}

@define-mixin borderedHeading {
    @mixin alpha;
    margin-bottom: 4.0rem;
    text-align: center;
    

    &:after {
        content: '';
        display: block;
        width: 150px;
        border-bottom: 2px solid $mainColor;
        margin: 0 auto;
        margin-top: 2.0rem; 
    }
}