$headingFont: "kepler-std",serif;
$bodyFont: "azo-sans-web",sans-serif;
$alternateFont: "azo-sans-web",sans-serif;
$mainColor: #93091A;
$secondaryColor: #C5000D;
$backgroundColor: #E9E8E4;
$borderColor: #B79749;
$bodyColor: #4b4f54;

$phoneSize: 768px;
$tabletSize: 992px;

@font-face{ 
    font-family: 'ssstandard';
    src: url('./fonts/ssstandard/ss-standard.eot');
    src: url('./fonts/ssstandard/ss-standard.eot?#iefix') format('embedded-opentype'),
         url('./fonts/ssstandard/ss-standard.woff') format('woff'),
         url('./fonts/fonts/ssstandard/ss-standard.ttf') format('truetype'),
         url('./fonts/ssstandard/ss-standard.svg#webfont') format('svg');
    font-weight: normal;
    font-style: normal;
}
